/********************************************
                VARIABLES
********************************************/

/* Fonts */
$font-primary       :   questrial, sans-serif;
$font-secondary     :   quantico, sans-serif;
$font-tertiary      :   prosto-one, serif;
$base-font-size     :   1rem;
$base-line-height   :   1.3;

/* Colors */
$color-light-a  :   #ffffff;
$color-light-b  :   #6c88ff;
$color-medium-a :   #627ae6;
$color-medium-b :   #5166bf;
$color-dark-a   :   #364480;
$color-dark-b   :   #1b2240;