/******************************************************************
        Site Name: Bootstrap Sports Site
        Author: Vladimir Tonkonogov

        Stylesheet: Main Stylesheet
******************************************************************/

// import normalize
@import "normalize";

//import variables
@import "variables";

// import mixins
@import "mixins";

        /********************************************
                        DEBUGGING LAYOUT
        ********************************************/

//div {
//    border: 1px solid gray;
//}

        /********************************************
                        FONT FAMILIES
        ********************************************/

body {
    font-family: $font-primary;
}

.navbar-league,
.navbar-default .navbar-nav>li>a,
.table,
footer p {
    font-family: $font-secondary;
}

@include headings {
    font-family: $font-secondary;
}

@media screen and (min-width: 768px) {
    .league { font-family: $font-tertiary; }
}

        /********************************************
                FONT SIZES, WEIGHTS & COLORS
        ********************************************/

p {
    font-size: 1.25em;
    line-height: 1.6;
}

.navbar-league {
    font-weight: 900;
    letter-spacing: 2px;
    color: #777;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px; 
}

.navbar-league:hover {
    text-decoration: none;
    color: $color-normal;
    opacity: 1;
}

.navbar-nav {
    font-weight: 400;
    letter-spacing: 3px;
}

@include headings {
    font-weight: 700;
    letter-spacing: 1px;
    color: $color-light;
}


        /********************************************
                        TEXT TRANSFORM
        ********************************************/

// This could have been done in Bootstrap by adding class="text-uppercase" to the respective h tags, but there are so many of them that I though that it would be counterproducive, and added this text transform instead.

@include headings {
    text-transform: uppercase;
}

        /********************************************
                        BACKGROUNDS
        ********************************************/

body {
    background: rgba(172, 173, 171, 0.5);
}

.navbar-nav li:hover {
    background: rgba(172, 173, 171, 0.5);
}

hr {
    max-width: 400px;
    border-color: #999999;
}

.header-nonbs {
    height: 400px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
	color: $color-white;
    background-color: transparent;
} 

img {
    height: 100%;
    width: 100%;
    opacity: 0.7;
}

.league-before {
    margin: 15px 0;
}

.box {
    margin-bottom: 20px;
    padding: 30px 15px;
    background: #fff;
    background: rgba(255,255,255,0.9);
}

.intro-text {
    font-size: 1.25em;
    font-weight: 400;
    letter-spacing: 1px;
}

.img-border {
    float: none;
    margin: 0 auto 0;
    border: #999999 solid 1px;
}

.img-left {
    float: none;
    margin: 0 auto 0;
}

footer {
    background: #fff;
    background: rgba(255,255,255,0.9);
}

footer p {
    margin: 0;
    padding: 50px 0;
}

@media screen and (min-width: 768px) {
    .league {
        display: inherit;
        margin: 0;
        padding: 30px 0 10px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        font-size: 5em;
        font-weight: 700;
        line-height: normal;
        color: #fff;
    }
    
    .top-divider {
        margin-top: 0;
    }

    .img-left {
        float: left;
        margin-right: 25px;
    }
    
    .address-bar {
        display: inherit;
        margin: 0;
        padding: 0 0 40px;
        text-align: center;
        text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
        text-transform: uppercase;
        font-size: 1.25em;
        font-weight: 400;
        letter-spacing: 3px;
        color: #fff;
    }
    
    .home {
        background: url(../img/slide-1.jpg) no-repeat 50% 45%;
        background-size: cover;
    }

    .standings {
        background: url(../img/slide-2.jpg) no-repeat 50% 51%;
        background-size: cover;
    }

    .locations {
        background: url(../img/slide-4.jpg) no-repeat 50% 55%;
        background-size: cover;
    }

    .signup {
        background: url(../img/slide-3.jpg) no-repeat 50% 22%;
        background-size: cover;
        opacity: 0.7;
    }

    .navbar {
        border-radius: 0;
    }

    .navbar {
        min-height: 0;
    }

    .navbar-default {
        border: none;
        background: #fff;
        background: rgba(255,255,255,0.9);
    }

    .nav>li>a {
        padding: 35px;
    }

    .navbar-nav>li>a {
        line-height: normal;
    }

    .navbar-nav {
        display: table;
        float: none;
        margin: 0 auto;
        table-layout: fixed;
        font-size: 1.25em;
    }
}

@media screen and (min-width:1200px) {
    .box:after {
        content: '';
        display: table;
        clear: both;
    }
}